

.creatures {
  min-height: 25vh;
  text-align: center;
}
.showing-directions .creatures {
  opacity: 0.25;
}
.showing-directions .creatures a {
  pointer-events: none;
}

.item {
  animation: load 0.5s ease-out both;
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  text-align: center;
  padding: 1em;
}
.item:nth-child(1) {
  animation-delay: 0.15s;
}
.item:nth-child(2) {
  animation-delay: 0.3s;
}
.item:nth-child(3) {
  animation-delay: 0.45s;
}
.item:nth-child(4) {
  animation-delay: 0.6s;
}
.item:nth-child(5) {
  animation-delay: 0.75s;
}
.item:nth-child(6) {
  animation-delay: 0.9s;
}
.item:nth-child(7) {
  animation-delay: 1.05s;
}
.item:nth-child(8) {
  animation-delay: 1.2s;
}
.item:nth-child(9) {
  animation-delay: 1.35s;
}
.item:nth-child(10) {
  animation-delay: 1.5s;
}
.item:nth-child(11) {
  animation-delay: 1.65s;
}
.item:nth-child(12) {
  animation-delay: 1.8s;
}
.item:nth-child(13) {
  animation-delay: 1.95s;
}
.item:nth-child(14) {
  animation-delay: 2.1s;
}
.item:nth-child(15) {
  animation-delay: 2.25s;
}
.item:nth-child(16) {
  animation-delay: 2.4s;
}
@media (min-width: 42em) {
  .item {
    width: 33.3333333333%;
  }
}
@media (min-width: 56em) {
  .item {
    width: 25%;
  }
}
@media (min-width: 70em) {
  .item {
    width: 20%;
  }
}
@media (min-width: 84em) {
  .item {
    width: 16.6666666667%;
  }
}
@media (min-width: 98em) {
  .item {
    width: 14.2857142857%;
  }
}
@media (min-width: 112em) {
  .item {
    width: 12.5%;
  }
}
@media (max-width: 42em) {
  .item:nth-last-child(-n+4) {
    display: none;
  }
}
@media (min-width: 42em) and (max-width: 56em) {
  .item:nth-last-child(1) {
    display: none;
  }
}
@media (min-width: 56em) and (max-width: 70em) {
  .item:nth-last-child(-n+2) {
    display: none;
  }
}
@media (min-width: 70em) and (max-width: 70em) {
  .item:nth-last-child(-n+4) {
    display: none;
  }
}
.item.ad-box, .item.default-box {
  display: inline-block !important;
}
.item.is-hidden {
  display: none !important;
}

.default-box {
  cursor: default;
}

.info {
  padding: 1rem 0;
  line-height: 1.5;
}
.default-box .info {
  line-height: 1.2;
}
.info h3 {
  margin-bottom: 0;
}
.info a {
  font-weight: bold;
}

.creature {
  animation: wobble 3s ease-in-out infinite;
  animation-delay: inherit;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin: 0 auto;
  border-radius: 50%;
  transform-origin: center bottom;
  box-shadow: inset 0.3rem -0.5rem rgba(14, 11, 32, 0.2);
  transition: box-shadow 1s;
}
.creature-box:nth-last-child(1) .creature {
  background-color: #f44336;
}
.creature-box:nth-last-child(2) .creature {
  background-color: #d8a635;
}
.creature-box:nth-last-child(3) .creature {
  background-color: #5aa959;
}
.creature-box:nth-last-child(4) .creature {
  background-color: #3cb9b9;
}
.creature-box:nth-last-child(5) .creature {
  background-color: #5a31bb;
}
.creature-box:nth-last-child(6) .creature {
  background-color: #785cbb;
}
.creature-box:nth-last-child(7) .creature {
  background-color: #f44336;
}
.creature-box:nth-last-child(8) .creature {
  background-color: #d8a635;
}
.creature-box:nth-last-child(9) .creature {
  background-color: #5aa959;
}
.creature-box:nth-last-child(10) .creature {
  background-color: #3cb9b9;
}
.creature-box:hover .creature {
  box-shadow: inset 0.3rem -0.75rem rgba(14, 11, 32, 0.2);
  transition-duration: 0.25s;
}
.showing-directions .creature {
  filter: grayscale(1);
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  transition: transform 1s;
}
.creature-box:hover .face {
  transform: translateY(-5%) scale(0.95);
  transition: transform 0.25s;
}

.eyes {
  position: absolute;
  top: 22%;
  width: 100%;
  height: 14%;
}

.eye {
  animation: blink 5s linear infinite;
  position: absolute;
  height: 100%;
  width: 9%;
  background: #0e0b20;
  border-radius: 50%;
}
.eye:nth-child(1) {
  left: 33%;
}
.eye:nth-child(2) {
  right: 33%;
}

.moustache {
  position: absolute;
  top: 38%;
  left: 18%;
  width: 64%;
  height: 14%;
}

.mouth {
  position: absolute;
  background: #0e0b20;
  top: 45%;
  left: 22%;
  right: 22%;
  bottom: 45%;
  border-radius: 20% 20% 50% 50%;
  transform-origin: center top;
  overflow: hidden;
  transition: transform 0.25s;
}
.creature-box:hover .mouth {
  transform: scale3d(0.95, 0.75, 1);
}

.tooth {
  position: absolute;
  top: 0;
  width: 15%;
  bottom: 55%;
  background: #fafafa;
  border-radius: 0 0 2px 2px;
}
.tooth:nth-child(1) {
  left: 32%;
}
.tooth:nth-child(2) {
  right: 32%;
}

.mod-angry .face {
  animation: angry 4s ease-in-out infinite;
}
.mod-angry .mouth {
  border-radius: 50% 50% 5px 5px;
  left: 30%;
  right: 30%;
}

.mod-camouflage .creature {
  background: url(img/mod-camouflage.png);
  background-position: center center;
}

.mod-cyclops .eye:nth-child(1) {
  left: 45%;
}
.mod-cyclops .eye:nth-child(2) {
  right: 45%;
}

.mod-dark .mouth, .mod-dark .eye {
  background: #333;
}

.mod-frozen * {
  animation-play-state: paused !important;
}

.mod-ghost .creature {
  background: #c8c8c8 !important;
  border-radius: 50% 50% 30% 30%;
}
.mod-ghost .mouth {
  animation: ghost 5s ease-in-out infinite;
  left: 42%;
  right: 42%;
  bottom: 40%;
  border-radius: 50% 50% 40% 40%;
}
.mod-ghost .tooth {
  display: none;
}

.mod-hungry .mouth {
  animation: hungry 1s ease-in-out infinite;
}

.mod-hyper .face {
  animation: hyper 5s ease-in-out infinite;
}
.mod-hyper .mouth {
  top: 45%;
  left: 20%;
  right: 20%;
  bottom: 25%;
}
.mod-hyper .tooth {
  bottom: 70%;
}

.mod-jack-o-lantern .creature, .mod-jack-o-lantern .tooth {
  background: #804600 !important;
}
.mod-jack-o-lantern .mouth, .mod-jack-o-lantern .eye, .mod-jack-o-lantern .moustache path {
  animation: jackolantern 4s ease-in-out infinite;
  background: #bfa100;
  fill: #bfa100;
}
.mod-jack-o-lantern .eye {
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
  border-radius: 0;
}
.mod-jack-o-lantern .moustache {
  top: 40%;
  left: 28%;
  width: 44%;
  height: 10%;
}
.mod-jack-o-lantern .mouth {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 70% 100%, 30% 100%, 0 50%);
  border-radius: 0;
}

.mod-moustache .mouth {
  top: 54%;
  bottom: 32%;
}

.mod-nervous .mouth {
  border-radius: 50% 50% 20% 20%;
  left: 35%;
  right: 35%;
  bottom: 40%;
}

.mod-sad .mouth {
  border-radius: 50% 50% 20% 20%;
  left: 35%;
  right: 35%;
  bottom: 40%;
}

.mod-sleepy .face {
  transform: rotate(45deg);
}
.mod-sleepy .eyes {
  transform: scaleY(0.5);
}
.mod-sleepy .mouth {
  animation: ghost 5s ease-in-out infinite;
  left: 42%;
  right: 42%;
  bottom: 40%;
  border-radius: 50%;
}
.mod-sleepy .tooth {
  display: none;
}
.mod-sleepy:hover .eyes {
  transform: scale(1);
}

.mod-square .mouth, .mod-square .eye {
  border-radius: 5px;
}
.mod-square .creature {
  border-radius: 10%;
  width: 95%;
  padding-bottom: 95%;
  margin-top: 5%;
}

.mod-tall .creature {
  width: 82%;
}

.mod-tiny .creature {
  width: 82%;
  padding-bottom: 82%;
  margin-top: 18%;
}

.mod-transparent .creature {
  background: url(img/mod-transparent.png);
}

.mod-nervous .mouth {
  animation: nervous 6s ease-in-out infinite;
}

.mod-upside-down .face {
  transform: rotate(180deg);
}
.mod-upside-down:hover .face {
  transform: rotate(180deg) translateY(-5%) scale(0.95);
  transition: transform 0.25s;
}

.mod-wink .eye:nth-child(2) {
  animation: none;
}

.ad-box {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}
.ad-box a {
  border: 0;
}

.carbon-img {
  display: block;
  margin: 0 auto;
}
.carbon-img img {
  border-radius: 1rem;
  width: 100%;
  height: auto;
}

.carbon-text {
  display: block;
  font-size: 1.3em;
  color: #fafafa;
  margin: 0.5em 0;
  transition: color 0.5s;
}
.ad-box:hover .carbon-text {
  color: #EDBF68;
  transition: color 0.25s;
}

.carbon-poweredby {
  display: block;
  color: #84838d;
}